/__pycache__/*
.pytest_cache/*
.vscode/*
*/__pycache__/*
test/__pycache__/test_1D.cpython-311-pytest-7.4.3.pyc
TFM/TFM_RamosSalasCarlosJulio.aux
TFM/TFM_RamosSalasCarlosJulio.fdb_latexmk
TFM/TFM_RamosSalasCarlosJulio.fls
TFM/TFM_RamosSalasCarlosJulio.log
TFM/TFM_RamosSalasCarlosJulio.synctex.gz
TFM/TFM_RamosSalasCarlosJulio.toc
TFM/TFM_RamosSalasCarlosJulio.run.xml
TFM/TFM_RamosSalasCarlosJulio.blg
TFM/TFM_RamosSalasCarlosJulio.bbl
TFM/TFM_RamosSalasCarlosJulio-blx.bib
TFM/TFM_RamosSalasCarlosJulio.bcf
TFM_RamosSalasCarlosJulio.out
borrador.py